<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <ion-searchbar placeholder="Buscar venda" debounce="300" [(ngModel)]="searchTerm">
    </ion-searchbar>

    <div *ngFor="let group of filteredSales">
      <ion-label class="date-title" style="color: var(--ion-color-medium);">{{ group.date | date:'dd/MM/yyyy'
        }}</ion-label>

      <ion-card *ngFor="let sale of group.sales" class="sale-card">
        <ion-item button detail="true" lines="none" class="ion-activatable ripple-parent"
          (click)="openSaleDetails(sale)">
          <ion-icon name="server" slot="start" color="primary"></ion-icon>

          <ion-label>
            <h2>{{ sale.client }}</h2>
            <p>R$ {{ sale.value }}</p>
            <p>{{ sale.products.length }} produtos</p>
          </ion-label>

          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
      </ion-card>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewSale()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>