<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <ion-searchbar 
      placeholder="Buscar clientes" 
      debounce="300"
      (ionInput)="searchClients($event)">
    </ion-searchbar>
    
    <ion-card class="client-card" *ngFor="let client of filteredClients">
      <ion-item
        button
        detail="true"
        lines="none"
        class="ion-activatable ripple-parent"
        (click)="openClientDetails(client)"
      >
        <ion-icon name="person" slot="start" color="primary"></ion-icon>

        <ion-label>
          <h2>{{ client.nome }}</h2>
          <p>{{ client.telefone }}</p>
        </ion-label>

        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
    </ion-card>

    <div *ngIf="filteredClients.length === 0" class="ion-text-center ion-margin-top">
      <ion-icon name="people-outline" size="large" color="medium"></ion-icon>
      <p color="medium">Nenhum cliente cadastrado</p>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewClient()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>